body {
  font-family: sans-serif;
  background-color: #ebfddcd8;
  margin-left: 2%;
}
h2,
h3 {
  color: #e41b1bd8;
}
p {
  font-size: 12pt;
}
table,
tr,
td {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  height: 70vh;
  width: 70vh;
}
tr {
  height: 40px;
}
td {
  width: 40px;
  text-align: center;
}
button {
  width: 40%;
  height: 10%;
  position: relative;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 30px;
  opacity: 20%;
  font-size: 12pt;
  font-weight: bold;
}
button:hover {
  background-color: #e26161d8;
  border-radius: 30px;
}
.gameBoard td:hover {
  background-color: #e26161d8;
}
.radioDiv {
  display: inline;
  font-size: 12pt;
  font-weight: bold;
}
.fatherDiv {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-top: 3%;
  font-size: x-large;
  font-weight: bold;
}
